@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.footer {
    background-color: var(--background-color, #f8f9fa); 
    padding: 40px 0;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #333;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: var(--width-screen, 1200px); 
    margin: auto;
}

.footer .footer-section {
    width: 22%;
}

.footer .footer-section .social-icons {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.footer .footer-section .icon {
    /* width: 30px; */
    /* height: 30px; */
    transition: transform 0.3s;
}

.footer .footer-section .icon:hover {
    transform: scale(1.2);
}

.footer img {
    width: 170px;
    height: auto;
    object-fit: contain;
    display: block;
    margin: auto 0;
}

.footer h4 {
    font-size: 20px;
    font-weight: 700;
    color: var(--brown-color, #8B4513); /* Giá trị mặc định nếu biến không được định nghĩa */
    margin-bottom: 15px;
}

.footer ul {
    list-style: none;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.footer ul li {
    margin-bottom: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.footer ul li:hover {
    color: #007bff;
    transform: translateX(2px);
}

.footer .instagram-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.footer .instagram-grid img {
    width: 100%;
    height: 80px;
    object-fit: cover;
}

.footer .instagram-grid img:hover {
    transform: scale(1.05);
    opacity: 0.8;
    background-color: black;
}

.footer .copyright {
    text-align: center;
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #ddd;
    font-size: 14px;
    color: #666;
}