.header-container {
    margin: 0 auto;
    background-color: var(--background-color, #f8f9fa);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    height: 80px;
    /* max-width: 1200px; */
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: Helvetica, Helvetica, Arial, sans-serif;
    border-bottom: 1px solid #c5bdbd;
}

.header-left {
    display: flex;
    width: 40%;
    justify-content: start;
    align-items: center;
}

.logo {
    position: relative;
}

.brand-name {
    margin-left: 10px;
    color: #007bff;
    font-size: 28px;
}

.logo-travel {
    position: absolute;
    top: 8px;
    left: -2px;
    font-size: 45px;
    font-weight: 700;
    color: #007bff;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    width: 40%;
    align-items: center;
}

.nav-link {
    margin: 0 10px;
    padding: 10px 40px;
    border-radius: 20px;
}

.nav-link:hover {
    background-color: #e6e6f0;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.search-input {
    width: 100%;
    padding: 10px 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-bar {
    position: relative;
}

.search-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.icon-search {
    font-size: 20px;
    position: absolute;
    top: 14px;
    left: 12px;
    opacity: 0.6;
}

.icon-user {
    font-size: 35px;
    margin-left: 20px;
    color: orange;
}

/* Dropdown Menu cấp 3 */
.nav-item.dropdown {
    position: relative;
    transition: all 10s  ease-in-out;
}

.dropdown-menu {
    display: none;
    position: absolute;
    min-width:200px;
    text-align: center;
    right: -30px;
    top: 110%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.nav-item:hover .dropdown-menu {
    display: block;
}
.dropdown-menu::after {
    content: '';
    position: absolute;
    top: -5px;
    left: 90px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}