/* Css cho phần nội dụng Content-container */
.content-container {
    h3{
        font-size: 28px;
        font-weight: bold;
        color: #333;
        margin-bottom: 20px;
        text-align: left;
    }
}
.content-section{
    display: flex;
    justify-content: space-between;
}
.content-item{
    width: 22%;

    img{
        width: 30%;
    }
    h4{
        margin-top: 20px;
        padding-top: 10px;
    }
    p{
        font-size: 14px;
        color: #666;
    }
}
